<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Enchères</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [navPush]="productPage">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="onLogout()">
        <ion-icon name="log-out">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let enchere of encheres">
      <ion-card>
        <!-- <img style="position:absolute; width:86%;" *ngIf="enchere.status == 'BUYING'" src="img/bandeau.png"/>
        <img src="img/iphonex.jpg"/> -->
        <ion-card-content>
          <ion-card-title text-center>
            {{ enchere.product.name }}
          </ion-card-title>
          {{ enchere.product.description }}
        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-left>
            <ion-badge color="danger">
              <p style="color:white;">
                {{enchere.status}}
                <ion-icon name="timer" right></ion-icon>
              </p>
            </ion-badge>
          </ion-col>
          <ion-col text-center>
            <ion-badge>
              <p style="color:white;">
                {{enchere.price}}
                <ion-icon name="logo-euro" right></ion-icon>
              </p>
            </ion-badge>
          </ion-col>
          <ion-col text-right>
            <button ion-button color="danger" clear text-right
              (click)="onChangeStatus(enchere, 'En cours de paiement')" *ngIf="enchere.status == 'En cours'">
              Acheter
              <ion-icon name='cart'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
